# 🔐 Secret API key
config.properties

# ⚙️ IntelliJ project files
.idea/
*.iml

# 🚫 Build output
/out/
build/
*.class

# 📦 Package & archive files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# 📝 Logs
*.log

# 📱 Mobile tools (J2ME)
.mtj.tmp/

# 💥 VM crash logs
hs_err_pid*
replay_pid*

# 🍏 macOS + 🪟 Windows system files
.DS_Store
Thumbs.db